
.default {
    background: rgb(247, 247, 247);
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    color:  black;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
.menu-cabecalho{
    background:#004080;
    color: white;
    width: 1200px;
    height: 45px;
    box-sizing: border-box;
    margin-left: 0px;
}

.menu-rodape{
    padding-top: 10px;
    background:#004080;
    color: white;
    width: 1200px;
    height: 45px;
    box-sizing: border-box;
    margin-top: 15px;
}
.rodape-texto{
    
    font-size: 12px;
    box-sizing: border-box;
}
.menu-titulo{
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 8px;
    font-size: 20px;
    margin-left: 20px;
    width: 100px;
    position: absolute;
    
}
a.link-senai{
    color: white;
    text-decoration: none;
}
a.link-senai:hover{
    color: white;
    font-size: 21px;
    text-decoration: underline;
    transition-duration: 0.4;
}
.menu-opcoes{
    margin-left: 1000px;
    width: 200px;
    padding-top: 14px;
    text-align: left;
    font-size: 12px;
}
.links-menu{
    color: white;
    text-decoration: none;
    padding-left: 3px;

}
.links-menu:hover{
    
    color: white;
    text-decoration:underline;
    font-weight: bold;
}

#caixa-principal{
    
    background-color: white;
    width: 800px;
    height: 500px;
    margin-left: 200px;
    border-radius: 8px;
  
    text-align: left;
}

.texto-contato{
    font-size: 10px;
    color: black;
    text-align: left;
    margin-left:13px ;
}

#img-caixa{ /*CAIXA PRETA*/
    width: 300px;
    height: 500px;
    position: absolute; 
    background: black;
    border-radius: 8px;
    z-index: 998;
    display: inline-block;
    text-align: left;
    box-sizing: border-box;
    background: url('/IMAGENS/img-sobre.jpg');
    background-size: cover;
    background-position: center;
    
}

#recuo-esqueda{
    width: 10px;
    height: 500px;
    background: white;
    z-index: 999;
}

#caixa-texto{ /*CAIXA VERMELHA*/
    position:relative;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    text-align: left;
    display: inline-block; 
} 

.titulo-caixa{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    color: #004080;
    margin-top: 40px;
}

p{
    margin-left: 20px;
    font-size: 13px;
    text-align: justify;
    margin-right: 20px;
    margin-top: 20px;
}
p.um{
    margin-top: 40px;

}