
.default {
    background: rgb(247, 247, 247);
    width: 1200px;
    height: 600px;
    margin: 0 auto;
    color:  black;
    font-family:'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
  }
.menu-cabecalho{
    background:#004080;
    color: white;
    width: 1200px;
    height: 45px;
    box-sizing: border-box;
    margin-left: 0px;
}

.menu-rodape{
    padding-top: 10px;
    background:#004080;
    color: white;
    width: 1200px;
    height: 45px;
    box-sizing: border-box;
    margin-top: 15px;
}
.rodape-texto{
    
    font-size: 12px;
    box-sizing: border-box;
}
.menu-titulo{
    text-align: left;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 8px;
    font-size: 20px;
    margin-left: 20px;
    width: 100px;
    position: absolute;
    
}
a.link-senai{
    color: white;
    text-decoration: none;
}
a.link-senai:hover{
    color: white;
    font-size: 21px;
    text-decoration: underline;
    transition-duration: 0.4;
}
.menu-opcoes{
    margin-left: 1000px;
    width: 250px;
    padding-top: 5px;
    text-align: left;
    font-size: 12px;
    vertical-align: middle;
}
.links-menu{
    color: white;
    text-decoration: none;
    

}
.links-menu:hover{
    
    color: white;
    text-decoration:underline;
    font-weight: bold;
}

#caixa-principal{
    
    background-color: white;
    width: 800px;
    height: 500px;
    margin-left: 200px;
    border-radius: 8px;
    border: 1px solid red;
    text-align: left;
}

.texto-contato{
    font-size: 10px;
    color: black;
    text-align: left;
    margin-left:13px ;
}
#img-caixa{ /*CAIXA PRETA*/
    width: 300px;
    height: 500px;
    position: absolute; 
    background: black;
    border-radius: 8px;
    z-index: 999;
    display: inline-block;
    text-align: left;
}
#caixa-texto{ /*CAIXA VERMELHA*/
    position:relative;
    width: 500px;
    height: 500px;
    border-radius: 8px;
    text-align: left;
    background: red;
    display: inline-block; 
    
} 
.titulo-caixa{
    font-size: 20px;
    font-weight: bold;

}